In [ ]:
import numpy as np

In [ ]:
l1=[1,2,3,4]
arry=np.array(l1)
print(arry)

[1 2 3 4]

In [ ]:
l2=[11,22,33,44]
l2

[11, 22, 33, 44]

In [ ]:
l=[l1,l2]
l

[[1, 2, 3, 4], [11, 22, 33, 44]]

In [ ]:
array_2D=np.array(l)
array_2D

array([[ 1,  2,  3,  4],
       [11, 22, 33, 44]])

In [ ]:
array_2D.shape

(2, 4)

In [ ]:
np.zeros(3,'int')

array([0, 0, 0])

In [ ]:
array_2D.dtype

dtype('int64')

In [ ]:
list1=[1,2,3,3]
print( list1)
myArray=np.array(list1)
print(myArray)

[1, 2, 3, 3]
[1 2 3 3]

In [ ]:
list1=[1,2,3,3]
np.ones(3)

array([1., 1., 1.])

In [ ]:
np.ones([3,3])

array([[1., 1., 1.],
       [1., 1., 1.],
       [1., 1., 1.]])

In [ ]:
np.zeros(3)
np.empty(3)

array([0., 0., 0.])

In [ ]:
np.eye(4)

array([[1., 0., 0., 0.],
       [0., 1., 0., 0.],
       [0., 0., 1., 0.],
       [0., 0., 0., 1.]])

In [ ]:
np.arange(10)

array([0, 1, 2, 3, 4, 5, 6, 7, 8, 9])

In [ ]:
np.arange(0,50,2)

array([ 0,  2,  4,  6,  8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32,
       34, 36, 38, 40, 42, 44, 46, 48])

In [ ]:
list1=[1,2,3,4,5]
list2=[6,7,8,9,10]
listt=[list1,list2]
print(listt)
myArry=np.array(listt)
print(myArry)

[[1, 2, 3, 4, 5], [6, 7, 8, 9, 10]]
[[ 1  2  3  4  5]
 [ 6  7  8  9 10]]

In [ ]:
arr1=np.array([[1,2,3,4],[8,9,10,11]])
print(arr1)

[[ 1  2  3  4]
 [ 8  9 10 11]]

In [ ]:
arr1*arr1

array([[  1,   4,   9,  16],
       [ 64,  81, 100, 121]])

In [ ]:
arr1**3

array([[   1,    8,   27,   64],
       [ 512,  729, 1000, 1331]])

In [ ]:
arr1**4

array([[    1,    16,    81,   256],
       [ 4096,  6561, 10000, 14641]])

In [ ]:
arr1-2

array([[-1,  0,  1,  2],
       [ 6,  7,  8,  9]])

In [ ]:
arr1.T

array([[ 1,  8],
       [ 2,  9],
       [ 3, 10],
       [ 4, 11]])

In [ ]:
A=np.array([[1,2,3],[4,5,6]])
print(A)
print('\n')
B=np.array([[7,8],[9,10],[11,12]])
print(B)
print('\n')
np.dot(A,B)

[[1 2 3]
 [4 5 6]]


[[ 7  8]
 [ 9 10]
 [11 12]]

array([[ 58,  64],
       [139, 154]])

In [ ]:
import numpy as np

In [ ]:
array1 = np.array([1, 3, 5])
array2 = np.array([2, 4, 6])

print("Multiplication: " ,array1 * array2)
print("Addition: ",array1 + array2)
print("Subtraction: ",array1 - array2)
print("Division: ",array1 / array2)

Multiplication:  [ 2 12 30]
Addition:  [ 3  7 11]
Subtraction:  [-1 -1 -1]
Division:  [0.5        0.75       0.83333333]

In [ ]:
arr=[1,2,3,4,5,6,7,8,9,10]
arr[3:6]

[4, 5, 6]

In [ ]:

arr=[1,2,3,4,5,6,7,8,9,10]
arr[0:5] = [22]
arr

[22, 6, 7, 8, 9, 10]

In [ ]:
arr=[1,2,3,4,5,6,7,8,9,10]
arr[0:0] =[99]
arr

[99, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [ ]:
arr[0]

99

In [ ]:
arr_2d=np.array(([5,10,15],[20,25,30],[35,40,45]))
arr_2d

array([[ 5, 10, 15],
       [20, 25, 30],
       [35, 40, 45]])

In [ ]:
arr_2d[1]

array([20, 25, 30])

In [ ]:
arr_2d[:,1]

array([10, 25, 40])

In [ ]:
arr_2d[:3,1:]

array([[10, 15],
       [25, 30],
       [40, 45]])

In [ ]:
grid = np.arange(1, 13).reshape((3, 4))
grid

array([[ 1,  2,  3,  4],
       [ 5,  6,  7,  8],
       [ 9, 10, 11, 12]])

In [ ]:
grid=grid.reshape((4,3))
grid

array([[ 1,  2,  3],
       [ 4,  5,  6],
       [ 7,  8,  9],
       [10, 11, 12]])

In [ ]:
x = np.array([1, 2, 3])
y = np.array([3, 2, 1])
np.concatenate([x, y])

array([1, 2, 3, 3, 2, 1])

In [ ]:
x = np.array([1, 2, 3])
x[::2]

array([1, 3])

In [ ]:
x[2::]

array([3])

In [ ]:
np.concatenate([grid,grid])

array([[ 1,  2,  3],
       [ 4,  5,  6],
       [ 7,  8,  9],
       [10, 11, 12],
       [ 1,  2,  3],
       [ 4,  5,  6],
       [ 7,  8,  9],
       [10, 11, 12]])

In [ ]:
np.concatenate([grid,grid],axis=1)

array([[ 1,  2,  3,  1,  2,  3],
       [ 4,  5,  6,  4,  5,  6],
       [ 7,  8,  9,  7,  8,  9],
       [10, 11, 12, 10, 11, 12]])

In [ ]:
x = [1, 2, 3, 99, 99, 3, 2, 1]
x1, x2, x3 = np.split(x, [3, 5]) #split at index 3 &5
print(x1, x2, x3)

[1 2 3] [99 99] [3 2 1]

In [ ]:
grid = np.arange(16).reshape((4, 4))
print(grid)
print("\n")
upper, lower = np.vsplit(grid, [2])
print(upper)
print("\n")
print(lower)

[[ 0  1  2  3]
 [ 4  5  6  7]
 [ 8  9 10 11]
 [12 13 14 15]]


[[0 1 2 3]
 [4 5 6 7]]


[[ 8  9 10 11]
 [12 13 14 15]]

In [ ]:
grid = np.arange(16).reshape((4, 4))
print(grid)
print("\n")
left, right = np.hsplit(grid, [2])
print(left)
print("\n")
print(right)

[[ 0  1  2  3]
 [ 4  5  6  7]
 [ 8  9 10 11]
 [12 13 14 15]]


[[ 0  1]
 [ 4  5]
 [ 8  9]
 [12 13]]


[[ 2  3]
 [ 6  7]
 [10 11]
 [14 15]]

In [ ]:
import numpy as np

In [ ]:
grade=np.array([
               [87,96,55],
               [45,89,96],
               [34,76,88],
               [32,44,78]
               ])
avg=np.mean(grade, axis=1)
print("The Average Grade of Each Student: ",avg)
mx=np.max(grade, axis=0)
print("Highes Grade in Each Subject: ",mx)
ov=np.mean(grade)
print("Overall Average: ",ov)

The Average Grade of Each Student:  [79.33333333 76.66666667 66.         51.33333333]
Highes Grade in Each Subject:  [87 96 96]
Overall Average:  68.33333333333333

In [ ]:
import numpy as np
from numpy.random import randn

In [ ]:
A= np.array([1,2,3,4])
B= np.array([100,200,300,400])

condition=np.array([True,True,False,False])
answer2=np.where(condition,A,B)

answer2

array([  1,   2, 300, 400])

In [ ]:
arr = randn(5,5)

arr

array([[-1.11638335, -0.35076581, -0.94223743, -1.5568524 ,  1.61796872],
       [-0.01052615,  1.62137634,  0.5487442 ,  0.92451705, -0.01496358],
       [-0.77414435,  1.39622797,  0.11437341, -0.02175708,  0.1179063 ],
       [ 0.06238056, -0.02217484, -1.71121332,  1.36976427, -0.35156043],
       [-0.60271183,  1.66633181, -0.03486254,  0.17904336, -0.71318948]])

In [ ]:
np.where(arr < 0,0,arr)

array([[0.        , 0.        , 0.        , 0.        , 1.61796872],
       [0.        , 1.62137634, 0.5487442 , 0.92451705, 0.        ],
       [0.        , 1.39622797, 0.11437341, 0.        , 0.1179063 ],
       [0.06238056, 0.        , 0.        , 1.36976427, 0.        ],
       [0.        , 1.66633181, 0.        , 0.17904336, 0.        ]])

In [ ]:
arr=np.array([[1,2,3],[4,5,6],[7,8,9]])
arr

array([[1, 2, 3],
       [4, 5, 6],
       [7, 8, 9]])

In [ ]:
arr.sum()

np.int64(45)

In [ ]:
print(arr.sum(1))
print(arr.sum(0))

[ 6 15 24]
[12 15 18]

In [ ]:
arr.mean()

np.float64(5.0)

In [ ]:
arr.std()

np.float64(2.581988897471611)

In [ ]:
arr.var()

np.float64(6.666666666666667)

In [ ]:
arr.all()

np.True_

In [ ]:
arr.any()

np.True_

In [ ]:
A=np.array([-2,5,4,-8,0])
print(A)

[-2  5  4 -8  0]

In [ ]:
print(np.sort(A)) #Ascending
print(- np.sort(-A)) #Descending

[-8 -2  0  4  5]
[ 5  4  0 -2 -8]

In [ ]:
countries = np.array(['France', 'Germany', 'USA','Russia','USA','Mexico','Germany'])
np.unique(countries)

array(['France', 'Germany', 'Mexico', 'Russia', 'USA'], dtype='<U7')

In [ ]:
np.in1d(['France','USA','Sweden'],countries)

<ipython-input-19-e2b7df327379>:1: DeprecationWarning: `in1d` is deprecated. Use `np.isin` instead.
  np.in1d(['France','USA','Sweden'],countries)

array([ True,  True, False])

In [ ]:
arr

array([[1, 2, 3],
       [4, 5, 6],
       [7, 8, 9]])

In [ ]:
np.save("my_arr",arr)

In [ ]:
import pandas as pd

In [ ]:
series=pd.Series([10,20,50,40],index=["Apple","Banana","Mango","Strawberry"])
print(series)

Apple         10
Banana        20
Mango         50
Strawberry    40
dtype: int64

In [ ]:
series=pd.Series({"Apple":100,
                  "Banana":100,
                  "Mango":400,
                  "Strawberry":300})
print(series)

Apple         100
Banana        100
Mango         400
Strawberry    300
dtype: int64

In [ ]:
print(series[0])

100

<ipython-input-27-16ea588ce37b>:1: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  print(series[0])

In [ ]:
print(series['Mango'])

400

In [ ]:
print(series[series>300])

Mango    400
dtype: int64

In [ ]:
gro=pd.Series({"Milk":120,"Bread":80,"Eggs":200,"Cheese":150,"Butter":90})
print(gro.sum())
print(gro.max())

640
200

In [ ]:
sales = pd.Series({'Shampoo': 150, 'Soap': 90, 'Toothpaste': 180, 'Lotion': 120})
sales["Soap"]=100
print(sales[sales>120])

Shampoo       150
Toothpaste    180
dtype: int64

In [ ]:
data=pd.read_csv("/content/sales_data.csv")
dataAsSeries=pd.Series(data['Sales'].values,index=data["Month"],name="Sales")
print(dataAsSeries)

Month
January     1200
February    1500
March        800
April        950
Name: Sales, dtype: int64

In [ ]:
fruit=pd.read_csv("/content/Fruits.csv")
print(fruit)

       Fruits  Prices
0       Apple     3.5
1      Banana     1.2
2      Orange     2.0
3  Strawberry     5.5
4      Grapes     2.5
5   Pineapple     4.0
6       Mango     3.0
7   Blueberry     7.0
8       Peach     3.8
9  Watermelon     1.5

In [ ]:
fruit=pd.read_csv("/content/Fruits.csv")
dataFruit=pd.Series(fruit['Fruits'].values,index=fruit["Prices"],name="fruits")
print(dataFruit)

Prices
3.5         Apple
1.2        Banana
2.0        Orange
5.5    Strawberry
2.5        Grapes
4.0     Pineapple
3.0         Mango
7.0     Blueberry
3.8         Peach
1.5    Watermelon
Name: fruits, dtype: object

In [ ]:
emp=pd.read_csv("/content/employees.csv")
print(emp)

      Name  Age      City  Salary
0    Alice   25  New York   70000
1      Bob   30   Chicago   80000
2  Charlie   28    Boston   75000

In [ ]:
print(emp.head())

      Name  Age      City  Salary
0    Alice   25  New York   70000
1      Bob   30   Chicago   80000
2  Charlie   28    Boston   75000

In [ ]:
print(emp.tail())

      Name  Age      City  Salary
0    Alice   25  New York   70000
1      Bob   30   Chicago   80000
2  Charlie   28    Boston   75000

In [ ]:
emp.shape

(3, 4)

In [ ]:
emp.columns

Index(['Name', 'Age', 'City', 'Salary'], dtype='object')

In [ ]:
print(emp.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Name    3 non-null      object
 1   Age     3 non-null      int64
 2   City    3 non-null      object
 3   Salary  3 non-null      int64
dtypes: int64(2), object(2)
memory usage: 228.0+ bytes
None

In [ ]:
print(emp.describe())

             Age   Salary
count   3.000000      3.0
mean   27.666667  75000.0
std     2.516611   5000.0
min    25.000000  70000.0
25%    26.500000  72500.0
50%    28.000000  75000.0
75%    29.000000  77500.0
max    30.000000  80000.0

In [ ]:
print(emp['Name'])

0      Alice
1        Bob
2    Charlie
Name: Name, dtype: object

In [ ]:
emp[['Name','City']]

      Name      City
0    Alice  New York
1      Bob   Chicago
2  Charlie    Boston

In [ ]:
emp[emp['Salary']>75000]

  Name  Age     City  Salary
1  Bob   30  Chicago   80000

In [ ]:
bonus=emp['Bonus']=emp['Salary']*0.1
print(bonus)

0    7000.0
1    8000.0
2    7500.0
Name: Salary, dtype: float64

In [ ]:
age=emp["Age"]=emp["Age"]+1
print(age)

0    27
1    32
2    30
Name: Age, dtype: int64

In [ ]:
rename=emp.rename(columns={'Salary': 'Income'},
inplace=True)
print(rename)

None

In [ ]:
pr=pd.read_csv("/content/disney_princess_popularity_dataset_300_rows.csv")
print(pr)

    PrincessName         FirstMovieTitle  FirstMovieYear  MovieRuntimeMinutes  \
0     Pocahontas  Pocahontas's Adventure            1977                   85
1          Mulan       Mulan's Adventure            1995                   85
2           Raya        Raya's Adventure            1989                  110
3           Anna        Anna's Adventure            1940                   78
4          Mulan       Mulan's Adventure            1943                  103
..           ...                     ...             ...                  ...
295       Merida      Merida's Adventure            2001                   95
296        Belle       Belle's Adventure            2006                   76
297         Anna        Anna's Adventure            2020                   70
298        Tiana       Tiana's Adventure            1937                   71
299        Mulan       Mulan's Adventure            1938                  105

     NumberOfSongs HasSoloSong HasDuet HairColor EyeColor OutfitPrimaryColor  \
0                4          No     Yes     Brown    Green               Pink
1                1         Yes     Yes    Blonde    Brown             Purple
2                4          No      No    Blonde    Hazel               Pink
3                1          No      No     Brown     Grey              Green
4                7          No     Yes     White    Brown              Green
..             ...         ...     ...       ...      ...                ...
295              7         Yes      No       Red     Grey             Purple
296              1         Yes      No       Red    Green             Yellow
297              2          No     Yes     White     Blue               Blue
298              7          No      No       Red     Blue             Purple
299              3          No      No     Brown    Brown             Purple

     ... RottenTomatoesScore BoxOfficeMillions AvgScreenTimeMinutes  \
0    ...                  88               661                   25
1    ...                  91               688                   52
2    ...                  76               790                   54
3    ...                  70               820                   42
4    ...                  86               996                   55
..   ...                 ...               ...                  ...
295  ...                  89               309                   49
296  ...                  97               406                   53
297  ...                  72               935                   25
298  ...                  86               463                   54
299  ...                  77               195                   42

    NumMerchItemsOnAmazon GoogleSearchIndex2024 InstagramFanPages  \
0                    2524                    68               298
1                    4202                    49               133
2                     525                    68               129
3                    1951                    73               138
4                    3958                    34               155
..                    ...                   ...               ...
295                  3638                    98               225
296                  1558                    33               270
297                  1815                    53                53
298                  2365                    35               116
299                  2218                    89                11

    TikTokHashtagViewsMillions  \
0                          481
1                          619
2                          230
3                          697
4                          200
..                         ...
295                        881
296                        274
297                        164
298                        584
299                        540

                                          Top3Hashtags IsIconic  \
0    #TeamPocahontas #LovePocahontas #PocahontasFor...      Yes
1                  #TeamMulan #LoveMulan #MulanForever      Yes
2                     #TeamRaya #LoveRaya #RayaForever       No
3                     #TeamAnna #LoveAnna #AnnaForever      Yes
4                  #TeamMulan #LoveMulan #MulanForever      Yes
..                                                 ...      ...
295             #TeamMerida #LoveMerida #MeridaForever       No
296                #TeamBelle #LoveBelle #BelleForever       No
297                   #TeamAnna #LoveAnna #AnnaForever      Yes
298                #TeamTiana #LoveTiana #TianaForever       No
299                #TeamMulan #LoveMulan #MulanForever       No

    PopularityScore
0                88
1                78
2                53
3                84
4                71
..              ...
295              95
296              96
297              67
298              76
299              69

[300 rows x 36 columns]

In [ ]:
print(pr.head())

  PrincessName         FirstMovieTitle  FirstMovieYear  MovieRuntimeMinutes  \
0   Pocahontas  Pocahontas's Adventure            1977                   85
1        Mulan       Mulan's Adventure            1995                   85
2         Raya        Raya's Adventure            1989                  110
3         Anna        Anna's Adventure            1940                   78
4        Mulan       Mulan's Adventure            1943                  103

   NumberOfSongs HasSoloSong HasDuet HairColor EyeColor OutfitPrimaryColor  \
0              4          No     Yes     Brown    Green               Pink
1              1         Yes     Yes    Blonde    Brown             Purple
2              4          No      No    Blonde    Hazel               Pink
3              1          No      No     Brown     Grey              Green
4              7          No     Yes     White    Brown              Green

   ... RottenTomatoesScore BoxOfficeMillions AvgScreenTimeMinutes  \
0  ...                  88               661                   25
1  ...                  91               688                   52
2  ...                  76               790                   54
3  ...                  70               820                   42
4  ...                  86               996                   55

  NumMerchItemsOnAmazon GoogleSearchIndex2024 InstagramFanPages  \
0                  2524                    68               298
1                  4202                    49               133
2                   525                    68               129
3                  1951                    73               138
4                  3958                    34               155

  TikTokHashtagViewsMillions  \
0                        481
1                        619
2                        230
3                        697
4                        200

                                        Top3Hashtags IsIconic PopularityScore
0  #TeamPocahontas #LovePocahontas #PocahontasFor...      Yes              88
1                #TeamMulan #LoveMulan #MulanForever      Yes              78
2                   #TeamRaya #LoveRaya #RayaForever       No              53
3                   #TeamAnna #LoveAnna #AnnaForever      Yes              84
4                #TeamMulan #LoveMulan #MulanForever      Yes              71

[5 rows x 36 columns]

In [ ]:
print(pr.describe())

       FirstMovieYear  MovieRuntimeMinutes  NumberOfSongs  IMDB_Rating  \
count      300.000000           300.000000     300.000000   300.000000
mean      1980.243333            90.913333       3.993333     7.466667
std         24.621227            11.726502       2.149890     0.863311
min       1937.000000            70.000000       1.000000     6.000000
25%       1959.750000            80.000000       2.000000     6.700000
50%       1983.000000            91.000000       4.000000     7.400000
75%       2000.250000           101.000000       6.000000     8.200000
max       2021.000000           110.000000       7.000000     9.000000

       RottenTomatoesScore  BoxOfficeMillions  AvgScreenTimeMinutes  \
count           300.000000         300.000000            300.000000
mean             80.650000         700.843333             40.616667
std              10.996237         346.922618             11.575680
min              60.000000         101.000000             20.000000
25%              71.750000         392.000000             31.750000
50%              80.000000         709.500000             41.000000
75%              90.000000         997.250000             51.000000
max             100.000000        1300.000000             60.000000

       NumMerchItemsOnAmazon  GoogleSearchIndex2024  InstagramFanPages  \
count             300.000000             300.000000         300.000000
mean             2467.270000              61.300000         152.063333
std              1469.301225              22.393785          83.929214
min                61.000000              20.000000          10.000000
25%              1223.500000              41.750000          75.750000
50%              2357.500000              61.000000         148.500000
75%              3743.250000              81.000000         227.250000
max              4998.000000             100.000000         300.000000

       TikTokHashtagViewsMillions  PopularityScore
count                  300.000000       300.000000
mean                   506.870000        75.130000
std                    292.751278        14.293382
min                     10.000000        50.000000
25%                    236.500000        63.000000
50%                    524.500000        75.000000
75%                    781.250000        87.000000
max                    999.000000       100.000000

In [ ]:
print(pr.tail())

    PrincessName     FirstMovieTitle  FirstMovieYear  MovieRuntimeMinutes  \
295       Merida  Merida's Adventure            2001                   95
296        Belle   Belle's Adventure            2006                   76
297         Anna    Anna's Adventure            2020                   70
298        Tiana   Tiana's Adventure            1937                   71
299        Mulan   Mulan's Adventure            1938                  105

     NumberOfSongs HasSoloSong HasDuet HairColor EyeColor OutfitPrimaryColor  \
295              7         Yes      No       Red     Grey             Purple
296              1         Yes      No       Red    Green             Yellow
297              2          No     Yes     White     Blue               Blue
298              7          No      No       Red     Blue             Purple
299              3          No      No     Brown    Brown             Purple

     ... RottenTomatoesScore BoxOfficeMillions AvgScreenTimeMinutes  \
295  ...                  89               309                   49
296  ...                  97               406                   53
297  ...                  72               935                   25
298  ...                  86               463                   54
299  ...                  77               195                   42

    NumMerchItemsOnAmazon GoogleSearchIndex2024 InstagramFanPages  \
295                  3638                    98               225
296                  1558                    33               270
297                  1815                    53                53
298                  2365                    35               116
299                  2218                    89                11

    TikTokHashtagViewsMillions                            Top3Hashtags  \
295                        881  #TeamMerida #LoveMerida #MeridaForever
296                        274     #TeamBelle #LoveBelle #BelleForever
297                        164        #TeamAnna #LoveAnna #AnnaForever
298                        584     #TeamTiana #LoveTiana #TianaForever
299                        540     #TeamMulan #LoveMulan #MulanForever

    IsIconic PopularityScore
295       No              95
296       No              96
297      Yes              67
298       No              76
299       No              69

[5 rows x 36 columns]

In [ ]:
print(pr.columns)

Index(['PrincessName', 'FirstMovieTitle', 'FirstMovieYear',
       'MovieRuntimeMinutes', 'NumberOfSongs', 'HasSoloSong', 'HasDuet',
       'HairColor', 'EyeColor', 'OutfitPrimaryColor', 'OutfitStyleEra',
       'IsRoyalByBirth', 'HasAnimalSidekick', 'SidekickType',
       'HasMagicalPowers', 'MagicType', 'MainSetting', 'IsBasedOnRealStory',
       'CulturalOrigin', 'SpeaksToAnimals', 'FightsVillainDirectly',
       'RomanticSubplot', 'MarriedByEnd', 'VillainName', 'VillainType',
       'IMDB_Rating', 'RottenTomatoesScore', 'BoxOfficeMillions',
       'AvgScreenTimeMinutes', 'NumMerchItemsOnAmazon',
       'GoogleSearchIndex2024', 'InstagramFanPages',
       'TikTokHashtagViewsMillions', 'Top3Hashtags', 'IsIconic',
       'PopularityScore'],
      dtype='object')

In [ ]:
print(pr.shape)

(300, 36)

In [ ]:
print(pr.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 300 entries, 0 to 299
Data columns (total 36 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   PrincessName                300 non-null    object
 1   FirstMovieTitle             300 non-null    object
 2   FirstMovieYear              300 non-null    int64
 3   MovieRuntimeMinutes         300 non-null    int64
 4   NumberOfSongs               300 non-null    int64
 5   HasSoloSong                 300 non-null    object
 6   HasDuet                     300 non-null    object
 7   HairColor                   300 non-null    object
 8   EyeColor                    300 non-null    object
 9   OutfitPrimaryColor          300 non-null    object
 10  OutfitStyleEra              300 non-null    object
 11  IsRoyalByBirth              300 non-null    object
 12  HasAnimalSidekick           300 non-null    object
 13  SidekickType                230 non-null    object
 14  HasMagicalPowers            300 non-null    object
 15  MagicType                   247 non-null    object
 16  MainSetting                 300 non-null    object
 17  IsBasedOnRealStory          300 non-null    object
 18  CulturalOrigin              300 non-null    object
 19  SpeaksToAnimals             300 non-null    object
 20  FightsVillainDirectly       300 non-null    object
 21  RomanticSubplot             300 non-null    object
 22  MarriedByEnd                300 non-null    object
 23  VillainName                 300 non-null    object
 24  VillainType                 253 non-null    object
 25  IMDB_Rating                 300 non-null    float64
 26  RottenTomatoesScore         300 non-null    int64
 27  BoxOfficeMillions           300 non-null    int64
 28  AvgScreenTimeMinutes        300 non-null    int64
 29  NumMerchItemsOnAmazon       300 non-null    int64
 30  GoogleSearchIndex2024       300 non-null    int64
 31  InstagramFanPages           300 non-null    int64
 32  TikTokHashtagViewsMillions  300 non-null    int64
 33  Top3Hashtags                300 non-null    object
 34  IsIconic                    300 non-null    object
 35  PopularityScore             300 non-null    int64
dtypes: float64(1), int64(11), object(24)
memory usage: 84.5+ KB
None

In [ ]:
pr[pr['FirstMovieYear']<1999]

,PrincessName,FirstMovieTitle,FirstMovieYear,MovieRuntimeMinutes,NumberOfSongs,HasSoloSong,HasDuet,HairColor,EyeColor,OutfitPrimaryColor,...,RottenTomatoesScore,BoxOfficeMillions,AvgScreenTimeMinutes,NumMerchItemsOnAmazon,GoogleSearchIndex2024,InstagramFanPages,TikTokHashtagViewsMillions,Top3Hashtags,IsIconic,PopularityScore
0,Pocahontas,Pocahontas's Adventure,1977,85,4,No,Yes,Brown,Green,Pink,...,88,661,25,2524,68,298,481,#TeamPocahontas #LovePocahontas #PocahontasFor...,Yes,88
1,Mulan,Mulan's Adventure,1995,85,1,Yes,Yes,Blonde,Brown,Purple,...,91,688,52,4202,49,133,619,#TeamMulan #LoveMulan #MulanForever,Yes,78
2,Raya,Raya's Adventure,1989,110,4,No,No,Blonde,Hazel,Pink,...,76,790,54,525,68,129,230,#TeamRaya #LoveRaya #RayaForever,No,53
3,Anna,Anna's Adventure,1940,78,1,No,No,Brown,Grey,Green,...,70,820,42,1951,73,138,697,#TeamAnna #LoveAnna #AnnaForever,Yes,84
4,Mulan,Mulan's Adventure,1943,103,7,No,Yes,White,Brown,Green,...,86,996,55,3958,34,155,200,#TeamMulan #LoveMulan #MulanForever,Yes,71
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
291,Cinderella,Cinderella's Adventure,1964,82,2,Yes,Yes,Black,Brown,Purple,...,89,397,44,493,61,156,237,#TeamCinderella #LoveCinderella #CinderellaFor...,Yes,89
292,Anna,Anna's Adventure,1956,95,3,No,No,Blonde,Blue,Green,...,93,578,59,523,46,91,140,#TeamAnna #LoveAnna #AnnaForever,Yes,72
293,Moana,Moana's Adventure,1961,96,4,Yes,No,Black,Grey,Pink,...,78,729,50,4350,74,241,977,#TeamMoana #LoveMoana #MoanaForever,Yes,93
298,Tiana,Tiana's Adventure,1937,71,7,No,No,Red,Blue,Purple,...,86,463,54,2365,35,116,584,#TeamTiana #LoveTiana #TianaForever,No,76
299,Mulan,Mulan's Adventure,1938,105,3,No,No,Brown,Brown,Purple,...,77,195,42,2218,89,11,540,#TeamMulan #LoveMulan #MulanForever,No,69

In [ ]:
print(pr['NumberOfSongs'])

0      4
1      1
2      4
3      1
4      7
      ..
295    7
296    1
297    2
298    7
299    3
Name: NumberOfSongs, Length: 300, dtype: int64

In [ ]:
pr[pr["EyeColor"]=="Green"]

,PrincessName,FirstMovieTitle,FirstMovieYear,MovieRuntimeMinutes,NumberOfSongs,HasSoloSong,HasDuet,HairColor,EyeColor,OutfitPrimaryColor,...,RottenTomatoesScore,BoxOfficeMillions,AvgScreenTimeMinutes,NumMerchItemsOnAmazon,GoogleSearchIndex2024,InstagramFanPages,TikTokHashtagViewsMillions,Top3Hashtags,IsIconic,PopularityScore
0,Pocahontas,Pocahontas's Adventure,1977,85,4,No,Yes,Brown,Green,Pink,...,88,661,25,2524,68,298,481,#TeamPocahontas #LovePocahontas #PocahontasFor...,Yes,88
13,Raya,Raya's Adventure,1963,105,7,No,Yes,Blonde,Green,Pink,...,83,1007,24,2350,87,143,315,#TeamRaya #LoveRaya #RayaForever,Yes,94
21,Moana,Moana's Adventure,2021,101,1,Yes,No,Red,Green,Yellow,...,61,1005,27,4191,80,250,124,#TeamMoana #LoveMoana #MoanaForever,No,55
36,Merida,Merida's Adventure,1962,109,1,No,No,Brown,Green,Green,...,67,101,41,3855,72,277,974,#TeamMerida #LoveMerida #MeridaForever,No,81
43,Mulan,Mulan's Adventure,1974,72,2,No,Yes,Red,Green,Green,...,79,1222,39,2346,61,89,349,#TeamMulan #LoveMulan #MulanForever,No,78
47,Merida,Merida's Adventure,2012,89,2,Yes,No,White,Green,Blue,...,90,112,37,3168,55,118,146,#TeamMerida #LoveMerida #MeridaForever,No,97
53,Tiana,Tiana's Adventure,1991,71,6,Yes,No,Black,Green,Blue,...,71,823,21,3735,71,191,151,#TeamTiana #LoveTiana #TianaForever,Yes,74
59,Anna,Anna's Adventure,1991,105,2,Yes,Yes,Black,Green,Green,...,93,985,59,963,55,281,113,#TeamAnna #LoveAnna #AnnaForever,Yes,62
62,Jasmine,Jasmine's Adventure,1973,108,6,No,No,Red,Green,Pink,...,60,438,46,1821,99,55,928,#TeamJasmine #LoveJasmine #JasmineForever,Yes,52
64,Rapunzel,Rapunzel's Adventure,1961,91,1,No,Yes,White,Green,Blue,...,99,1188,20,2463,21,133,688,#TeamRapunzel #LoveRapunzel #RapunzelForever,Yes,62
65,Elsa,Elsa's Adventure,1998,76,2,No,Yes,White,Green,Pink,...,83,320,20,1022,41,268,461,#TeamElsa #LoveElsa #ElsaForever,Yes,94
84,Tiana,Tiana's Adventure,1944,89,5,No,No,Red,Green,Blue,...,64,745,44,3203,50,258,809,#TeamTiana #LoveTiana #TianaForever,No,91
89,Pocahontas,Pocahontas's Adventure,2013,70,4,No,No,Black,Green,Pink,...,73,325,40,3650,99,62,185,#TeamPocahontas #LovePocahontas #PocahontasFor...,No,89
91,Belle,Belle's Adventure,1991,104,3,Yes,Yes,Brown,Green,Purple,...,80,384,36,734,41,116,854,#TeamBelle #LoveBelle #BelleForever,Yes,95
93,Moana,Moana's Adventure,1950,75,2,No,No,White,Green,Green,...,71,934,41,3231,37,231,250,#TeamMoana #LoveMoana #MoanaForever,Yes,76
97,Aurora,Aurora's Adventure,2002,101,7,No,Yes,Brown,Green,Purple,...,94,518,25,4671,75,121,727,#TeamAurora #LoveAurora #AuroraForever,Yes,66
107,Tiana,Tiana's Adventure,2018,80,1,No,No,Brown,Green,Purple,...,99,407,47,4375,61,238,423,#TeamTiana #LoveTiana #TianaForever,No,57
116,Raya,Raya's Adventure,1975,106,2,Yes,Yes,Red,Green,Purple,...,73,1020,35,3843,72,28,191,#TeamRaya #LoveRaya #RayaForever,Yes,81
125,Moana,Moana's Adventure,1999,75,2,Yes,Yes,Black,Green,Blue,...,80,247,30,3959,66,160,704,#TeamMoana #LoveMoana #MoanaForever,No,97
126,Rapunzel,Rapunzel's Adventure,2017,77,2,Yes,No,Black,Green,Yellow,...,93,626,58,853,50,144,428,#TeamRapunzel #LoveRapunzel #RapunzelForever,Yes,98
135,Anna,Anna's Adventure,1995,87,1,Yes,Yes,White,Green,Green,...,93,958,28,154,23,198,283,#TeamAnna #LoveAnna #AnnaForever,Yes,54
136,Mulan,Mulan's Adventure,2003,85,7,Yes,Yes,Black,Green,Pink,...,89,166,40,356,79,294,806,#TeamMulan #LoveMulan #MulanForever,Yes,71
138,Anna,Anna's Adventure,1972,76,3,No,Yes,White,Green,Pink,...,89,918,32,2919,66,62,225,#TeamAnna #LoveAnna #AnnaForever,Yes,90
142,Merida,Merida's Adventure,1961,75,4,Yes,Yes,Blonde,Green,Pink,...,88,1111,36,2452,68,165,526,#TeamMerida #LoveMerida #MeridaForever,No,59
156,Elsa,Elsa's Adventure,1963,109,3,No,Yes,Red,Green,Purple,...,91,1112,58,2329,94,60,73,#TeamElsa #LoveElsa #ElsaForever,Yes,65
168,Cinderella,Cinderella's Adventure,1955,89,6,No,Yes,Brown,Green,Blue,...,69,447,36,3843,76,217,924,#TeamCinderella #LoveCinderella #CinderellaFor...,Yes,89
169,Mulan,Mulan's Adventure,1972,107,1,No,No,Black,Green,Green,...,85,489,46,3145,34,172,340,#TeamMulan #LoveMulan #MulanForever,Yes,70
170,Jasmine,Jasmine's Adventure,1991,95,7,Yes,Yes,White,Green,Blue,...,76,745,51,601,33,70,901,#TeamJasmine #LoveJasmine #JasmineForever,No,64
180,Jasmine,Jasmine's Adventure,2000,70,4,No,Yes,Black,Green,Pink,...,64,711,45,4518,93,56,632,#TeamJasmine #LoveJasmine #JasmineForever,Yes,73
181,Elsa,Elsa's Adventure,1965,78,6,Yes,Yes,Black,Green,Yellow,...,88,1113,39,599,78,35,917,#TeamElsa #LoveElsa #ElsaForever,No,93
182,Belle,Belle's Adventure,2003,93,6,No,Yes,Black,Green,Pink,...,93,1139,48,4979,54,49,834,#TeamBelle #LoveBelle #BelleForever,Yes,90
183,Elsa,Elsa's Adventure,1999,103,2,Yes,Yes,Black,Green,Blue,...,71,392,42,1663,54,56,133,#TeamElsa #LoveElsa #ElsaForever,Yes,85
184,Mulan,Mulan's Adventure,1987,94,5,No,Yes,Black,Green,Pink,...,90,1252,24,4998,57,236,585,#TeamMulan #LoveMulan #MulanForever,Yes,55
188,Anna,Anna's Adventure,1983,71,1,Yes,Yes,White,Green,Pink,...,74,890,34,3121,72,206,115,#TeamAnna #LoveAnna #AnnaForever,Yes,51
193,Raya,Raya's Adventure,1956,71,5,No,No,Black,Green,Purple,...,69,1163,25,4654,92,85,178,#TeamRaya #LoveRaya #RayaForever,No,83
207,Aurora,Aurora's Adventure,1945,78,7,No,Yes,Brown,Green,Blue,...,82,462,33,214,32,294,159,#TeamAurora #LoveAurora #AuroraForever,No,85
211,Moana,Moana's Adventure,2017,100,4,No,Yes,White,Green,Pink,...,92,334,20,67,86,91,814,#TeamMoana #LoveMoana #MoanaForever,Yes,59
217,Tiana,Tiana's Adventure,1983,74,2,No,No,White,Green,Yellow,...,99,1043,27,2367,35,105,361,#TeamTiana #LoveTiana #TianaForever,No,94
219,Rapunzel,Rapunzel's Adventure,1949,72,4,No,Yes,Red,Green,Yellow,...,75,285,52,3833,45,164,863,#TeamRapunzel #LoveRapunzel #RapunzelForever,Yes,59
221,Anna,Anna's Adventure,1992,75,1,No,Yes,Red,Green,Blue,...,62,124,58,981,84,154,174,#TeamAnna #LoveAnna #AnnaForever,No,92
223,Raya,Raya's Adventure,1971,99,1,No,No,Blonde,Green,Yellow,...,82,423,49,1609,50,245,906,#TeamRaya #LoveRaya #RayaForever,Yes,62
224,Belle,Belle's Adventure,1964,100,7,No,Yes,Blonde,Green,Yellow,...,79,183,41,4364,55,18,387,#TeamBelle #LoveBelle #BelleForever,Yes,68
243,Ariel,Ariel's Adventure,1948,102,6,Yes,No,Blonde,Green,Purple,...,65,681,38,2670,65,153,999,#TeamAriel #LoveAriel #ArielForever,Yes,100
247,Belle,Belle's Adventure,2010,96,3,No,No,Red,Green,Pink,...,89,888,23,1720,77,31,483,#TeamBelle #LoveBelle #BelleForever,Yes,93
248,Rapunzel,Rapunzel's Adventure,2017,93,1,No,Yes,Blonde,Green,Green,...,77,1147,21,4289,88,142,295,#TeamRapunzel #LoveRapunzel #RapunzelForever,Yes,50
252,Moana,Moana's Adventure,1969,75,7,No,Yes,White,Green,Purple,...,71,115,36,4724,88,228,290,#TeamMoana #LoveMoana #MoanaForever,No,62
257,Tiana,Tiana's Adventure,1989,79,1,Yes,Yes,Blonde,Green,Pink,...,67,614,52,1922,78,231,485,#TeamTiana #LoveTiana #TianaForever,No,72
258,Jasmine,Jasmine's Adventure,1951,90,6,No,No,White,Green,Pink,...,71,529,47,3459,46,225,373,#TeamJasmine #LoveJasmine #JasmineForever,No,76
260,Anna,Anna's Adventure,1970,104,6,No,No,Brown,Green,Blue,...,79,947,57,2889,92,115,288,#TeamAnna #LoveAnna #AnnaForever,No,85
261,Belle,Belle's Adventure,2004,89,1,Yes,Yes,Brown,Green,Green,...,74,675,38,1062,34,115,120,#TeamBelle #LoveBelle #BelleForever,Yes,96
276,Mulan,Mulan's Adventure,1994,98,2,No,Yes,Black,Green,Purple,...,78,346,22,1347,20,138,10,#TeamMulan #LoveMulan #MulanForever,Yes,100
279,Snow White,Snow White's Adventure,1994,109,7,Yes,No,White,Green,Green,...,80,1028,22,3177,42,72,530,#TeamSnow White #LoveSnow White #Snow WhiteFor...,No,51
288,Jasmine,Jasmine's Adventure,1976,84,3,Yes,Yes,Brown,Green,Blue,...,79,444,55,1377,51,179,646,#TeamJasmine #LoveJasmine #JasmineForever,No,93
289,Merida,Merida's Adventure,1953,83,6,Yes,Yes,Red,Green,Blue,...,88,409,27,1923,54,231,42,#TeamMerida #LoveMerida #MeridaForever,No,64
296,Belle,Belle's Adventure,2006,76,1,Yes,No,Red,Green,Yellow,...,97,406,53,1558,33,270,274,#TeamBelle #LoveBelle #BelleForever,No,96

In [ ]:
pr[pr["IsIconic"]=="Yes"]

,PrincessName,FirstMovieTitle,FirstMovieYear,MovieRuntimeMinutes,NumberOfSongs,HasSoloSong,HasDuet,HairColor,EyeColor,OutfitPrimaryColor,...,RottenTomatoesScore,BoxOfficeMillions,AvgScreenTimeMinutes,NumMerchItemsOnAmazon,GoogleSearchIndex2024,InstagramFanPages,TikTokHashtagViewsMillions,Top3Hashtags,IsIconic,PopularityScore
0,Pocahontas,Pocahontas's Adventure,1977,85,4,No,Yes,Brown,Green,Pink,...,88,661,25,2524,68,298,481,#TeamPocahontas #LovePocahontas #PocahontasFor...,Yes,88
1,Mulan,Mulan's Adventure,1995,85,1,Yes,Yes,Blonde,Brown,Purple,...,91,688,52,4202,49,133,619,#TeamMulan #LoveMulan #MulanForever,Yes,78
3,Anna,Anna's Adventure,1940,78,1,No,No,Brown,Grey,Green,...,70,820,42,1951,73,138,697,#TeamAnna #LoveAnna #AnnaForever,Yes,84
4,Mulan,Mulan's Adventure,1943,103,7,No,Yes,White,Brown,Green,...,86,996,55,3958,34,155,200,#TeamMulan #LoveMulan #MulanForever,Yes,71
5,Jasmine,Jasmine's Adventure,2010,78,7,Yes,Yes,Brown,Blue,Blue,...,93,1245,59,555,67,216,454,#TeamJasmine #LoveJasmine #JasmineForever,Yes,61
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
290,Moana,Moana's Adventure,1952,78,2,Yes,Yes,Red,Brown,Green,...,92,156,47,4440,88,248,386,#TeamMoana #LoveMoana #MoanaForever,Yes,97
291,Cinderella,Cinderella's Adventure,1964,82,2,Yes,Yes,Black,Brown,Purple,...,89,397,44,493,61,156,237,#TeamCinderella #LoveCinderella #CinderellaFor...,Yes,89
292,Anna,Anna's Adventure,1956,95,3,No,No,Blonde,Blue,Green,...,93,578,59,523,46,91,140,#TeamAnna #LoveAnna #AnnaForever,Yes,72
293,Moana,Moana's Adventure,1961,96,4,Yes,No,Black,Grey,Pink,...,78,729,50,4350,74,241,977,#TeamMoana #LoveMoana #MoanaForever,Yes,93
297,Anna,Anna's Adventure,2020,70,2,No,Yes,White,Blue,Blue,...,72,935,25,1815,53,53,164,#TeamAnna #LoveAnna #AnnaForever,Yes,67

In [ ]:
import pandas as pd
emp=pd.read_csv("/content/employees.csv")
print(emp)

      Name  Age      City  Salary
0    Alice   25  New York   70000
1      Bob   30   Chicago   80000
2  Charlie   28    Boston   75000

In [ ]:
emp[emp["City"]=="New York"]

    Name  Age      City  Salary
0  Alice   25  New York   70000

In [ ]:
emp[emp["Age"]>25]

      Name  Age     City  Salary
1      Bob   30  Chicago   80000
2  Charlie   28   Boston   75000

In [ ]:
emp[(emp["Salary"]>75000)&(emp["Age"]>25)]

  Name  Age     City  Salary
1  Bob   30  Chicago   80000

In [ ]:
emp[(emp["City"]=="Chicago")|(emp["Age"]>25)]

      Name  Age     City  Salary
1      Bob   30  Chicago   80000
2  Charlie   28   Boston   75000

In [ ]:
emp[~(emp["City"]=="Boston")]

    Name  Age      City  Salary
0  Alice   25  New York   70000
1    Bob   30   Chicago   80000

In [ ]:
emp[emp["Age"].between(30,35)]

  Name  Age     City  Salary
1  Bob   30  Chicago   80000

In [ ]:
emp[(emp["Age"]<30)&(emp["Age"]>25)]

      Name  Age    City  Salary
2  Charlie   28  Boston   75000

In [ ]:
emp[emp["Name"].str.contains("Bob")]

  Name  Age     City  Salary
1  Bob   30  Chicago   80000

In [ ]:
emp[emp["Name"].str.startswith("A")]

    Name  Age      City  Salary
0  Alice   25  New York   70000

In [ ]:
emp[emp["Name"].str.endswith("e")]

      Name  Age      City  Salary
0    Alice   25  New York   70000
2  Charlie   28    Boston   75000

In [ ]:
emp[emp["City"].str.contains("New")]

    Name  Age      City  Salary
0  Alice   25  New York   70000

In [ ]:
emp[emp["Age"].isnull()]

Empty DataFrame
Columns: [Name, Age, City, Salary]
Index: []

In [ ]:
emp[emp["Age"].notnull()]

      Name  Age      City  Salary
0    Alice   25  New York   70000
1      Bob   30   Chicago   80000
2  Charlie   28    Boston   75000

In [ ]:
dataemp={"Name":["Alice","Bob","Charlie","Israa","Itaa","Muni","Sam","MD",None],
         "Age":[25,30,28,24,None,28,40,32,29],
         "Salary":[70000,80000,75000,90000,2000,None,80000,120000,4000],
         "City":["New York","Chicago","Boston","Muscat","Muscat",None,"Dubai","Dubai","DC"],
         "Status":["Single","Single","Married","Married","Single","Married","Married","Married","Single"]}
emp=pd.DataFrame(dataemp)
print(emp)

      Name   Age    Salary      City   Status
0    Alice  25.0   70000.0  New York   Single
1      Bob  30.0   80000.0   Chicago   Single
2  Charlie  28.0   75000.0    Boston  Married
3    Israa  24.0   90000.0    Muscat  Married
4     Itaa   NaN    2000.0    Muscat   Single
5     Muni  28.0       NaN      None  Married
6      Sam  40.0   80000.0     Dubai  Married
7       MD  32.0  120000.0     Dubai  Married
8     None  29.0    4000.0        DC   Single

In [ ]:
emp.to_csv("emp_data.csv",index=False)

In [ ]:
emp[emp["Age"].isnull()]

   Name  Age  Salary    City  Status
4  Itaa  NaN  2000.0  Muscat  Single

In [ ]:
emp[emp["Salary"].notnull()]

      Name   Age    Salary      City   Status
0    Alice  25.0   70000.0  New York   Single
1      Bob  30.0   80000.0   Chicago   Single
2  Charlie  28.0   75000.0    Boston  Married
3    Israa  24.0   90000.0    Muscat  Married
4     Itaa   NaN    2000.0    Muscat   Single
6      Sam  40.0   80000.0     Dubai  Married
7       MD  32.0  120000.0     Dubai  Married
8     None  29.0    4000.0        DC   Single

In [ ]:
mask=emp["City"]=="Dubai"
emp[mask]

  Name   Age    Salary   City   Status
6  Sam  40.0   80000.0  Dubai  Married
7   MD  32.0  120000.0  Dubai  Married

In [ ]:
print(emp)

      Name   Age    Salary      City   Status
0    Alice  25.0   70000.0  New York   Single
1      Bob  30.0   80000.0   Chicago   Single
2  Charlie  28.0   75000.0    Boston  Married
3    Israa  24.0   90000.0    Muscat  Married
4     Itaa   NaN    2000.0    Muscat   Single
5     Muni  28.0       NaN      None  Married
6      Sam  40.0   80000.0     Dubai  Married
7       MD  32.0  120000.0     Dubai  Married
8     None  29.0    4000.0        DC   Single

In [ ]:
emp.drop(columns=["Status"],inplace=True)
print(emp)

      Name   Age    Salary      City
0    Alice  25.0   70000.0  New York
1      Bob  30.0   80000.0   Chicago
2  Charlie  28.0   75000.0    Boston
3    Israa  24.0   90000.0    Muscat
4     Itaa   NaN    2000.0    Muscat
5     Muni  28.0       NaN      None
6      Sam  40.0   80000.0     Dubai
7       MD  32.0  120000.0     Dubai
8     None  29.0    4000.0        DC

In [ ]:
emp["Bonus"]=emp["Salary"]*0.1
print(emp)

      Name   Age    Salary      City    Bonus
0    Alice  25.0   70000.0  New York   7000.0
1      Bob  30.0   80000.0   Chicago   8000.0
2  Charlie  28.0   75000.0    Boston   7500.0
3    Israa  24.0   90000.0    Muscat   9000.0
4     Itaa   NaN    2000.0    Muscat    200.0
5     Muni  28.0       NaN      None      NaN
6      Sam  40.0   80000.0     Dubai   8000.0
7       MD  32.0  120000.0     Dubai  12000.0
8     None  29.0    4000.0        DC    400.0

In [ ]:
emp["Age"]=emp["Age"]+1
print(emp)

      Name   Age    Salary      City    Bonus
0    Alice  26.0   70000.0  New York   7000.0
1      Bob  31.0   80000.0   Chicago   8000.0
2  Charlie  29.0   75000.0    Boston   7500.0
3    Israa  25.0   90000.0    Muscat   9000.0
4     Itaa   NaN    2000.0    Muscat    200.0
5     Muni  29.0       NaN      None      NaN
6      Sam  41.0   80000.0     Dubai   8000.0
7       MD  33.0  120000.0     Dubai  12000.0
8     None  30.0    4000.0        DC    400.0

In [ ]:
emp.rename(columns={"Salary":"Income"}, inplace=True)
print(emp)

      Name   Age    Income      City    Bonus
0    Alice  26.0   70000.0  New York   7000.0
1      Bob  31.0   80000.0   Chicago   8000.0
2  Charlie  29.0   75000.0    Boston   7500.0
3    Israa  25.0   90000.0    Muscat   9000.0
4     Itaa   NaN    2000.0    Muscat    200.0
5     Muni  29.0       NaN      None      NaN
6      Sam  41.0   80000.0     Dubai   8000.0
7       MD  33.0  120000.0     Dubai  12000.0
8     None  30.0    4000.0        DC    400.0

In [ ]:
emp.drop("Bonus",axis=1,inplace=True)
print(emp)

      Name   Age    Income      City
0    Alice  26.0   70000.0  New York
1      Bob  31.0   80000.0   Chicago
2  Charlie  29.0   75000.0    Boston
3    Israa  25.0   90000.0    Muscat
4     Itaa   NaN    2000.0    Muscat
5     Muni  29.0       NaN      None
6      Sam  41.0   80000.0     Dubai
7       MD  33.0  120000.0     Dubai
8     None  30.0    4000.0        DC

In [ ]:
empclean=emp.dropna()
print(empclean)

      Name   Age    Income      City
0    Alice  26.0   70000.0  New York
1      Bob  31.0   80000.0   Chicago
2  Charlie  29.0   75000.0    Boston
3    Israa  25.0   90000.0    Muscat
6      Sam  41.0   80000.0     Dubai
7       MD  33.0  120000.0     Dubai

In [ ]:
empsort=emp.sort_values("Age")
print(empsort)

      Name   Age    Income      City
3    Israa  25.0   90000.0    Muscat
0    Alice  26.0   70000.0  New York
2  Charlie  29.0   75000.0    Boston
5     Muni  29.0       NaN      None
8     None  30.0    4000.0        DC
1      Bob  31.0   80000.0   Chicago
7       MD  33.0  120000.0     Dubai
6      Sam  41.0   80000.0     Dubai
4     Itaa   NaN    2000.0    Muscat

In [ ]:
empsort=emp.sort_values("Income",ascending=False)
print(empsort)

      Name   Age    Income      City
7       MD  33.0  120000.0     Dubai
3    Israa  25.0   90000.0    Muscat
6      Sam  41.0   80000.0     Dubai
1      Bob  31.0   80000.0   Chicago
2  Charlie  29.0   75000.0    Boston
0    Alice  26.0   70000.0  New York
8     None  30.0    4000.0        DC
4     Itaa   NaN    2000.0    Muscat
5     Muni  29.0       NaN      None

In [ ]:
city_salary=emp.groupby("City")["Income"].mean()
print(city_salary)

City
Boston       75000.0
Chicago      80000.0
DC            4000.0
Dubai       100000.0
Muscat       46000.0
New York     70000.0
Name: Income, dtype: float64

In [ ]:
city_count=emp["City"].value_counts()
print(city_count)

City
Dubai       2
Muscat      2
Chicago     1
New York    1
Boston      1
DC          1
Name: count, dtype: int64

In [ ]:
import pandas as pd

# Load the CSV file
df = pd.read_csv('/content/sample_sales_data.csv')
print(df)

    OrderID CustomerName     Category  OrderDate  Quantity   Price  \
0   ORD0001       Hannah        Books   1/1/2025         6  331.73
1   ORD0002       Edward        Books   1/2/2025         3  310.03
2   ORD0003        Alice     Clothing   1/3/2025         9  176.17
3   ORD0004       Hannah  Electronics   1/4/2025         3   79.97
4   ORD0005       George         Home   1/5/2025         7  406.03
..      ...          ...          ...        ...       ...     ...
95  ORD0096        Diana     Clothing   4/6/2025         5  368.23
96  ORD0097          Bob        Books   4/7/2025         8  360.17
97  ORD0098        Diana     Clothing   4/8/2025         9   29.97
98  ORD0099        Alice         Home   4/9/2025         5  465.20
99  ORD0100      Charlie        Books  4/10/2025         9   41.55

    TotalAmount     Status
0       1990.38   Canceled
1        930.09  Completed
2       1585.53   Canceled
3        239.91    Pending
4       2842.21   Canceled
..          ...        ...
95      1841.15  Completed
96      2881.36  Completed
97       269.73   Canceled
98      2326.00    Pending
99       373.95    Pending

[100 rows x 8 columns]

In [ ]:
total = df[df['TotalAmount'] > 500]
print(total)

electronics= df[df['Category'] == 'Electronics']
print(electronics)

    OrderID CustomerName     Category OrderDate  Quantity   Price  \
0   ORD0001       Hannah        Books  1/1/2025         6  331.73
1   ORD0002       Edward        Books  1/2/2025         3  310.03
2   ORD0003        Alice     Clothing  1/3/2025         9  176.17
4   ORD0005       George         Home  1/5/2025         7  406.03
5   ORD0006      Charlie        Books  1/6/2025         9  390.27
..      ...          ...          ...       ...       ...     ...
92  ORD0093      Charlie  Electronics  4/3/2025         5  118.72
94  ORD0095        Alice        Books  4/5/2025         4  143.94
95  ORD0096        Diana     Clothing  4/6/2025         5  368.23
96  ORD0097          Bob        Books  4/7/2025         8  360.17
98  ORD0099        Alice         Home  4/9/2025         5  465.20

    TotalAmount     Status
0       1990.38   Canceled
1        930.09  Completed
2       1585.53   Canceled
4       2842.21   Canceled
5       3512.43  Completed
..          ...        ...
92       593.60  Completed
94       575.76   Canceled
95      1841.15  Completed
96      2881.36  Completed
98      2326.00    Pending

[72 rows x 8 columns]
    OrderID CustomerName     Category  OrderDate  Quantity   Price  \
3   ORD0004       Hannah  Electronics   1/4/2025         3   79.97
8   ORD0009      Charlie  Electronics   1/9/2025         2  222.30
10  ORD0011       Edward  Electronics  1/11/2025         3  398.62
20  ORD0021      Charlie  Electronics  1/21/2025         8  358.75
22  ORD0023       Hannah  Electronics  1/23/2025         8  134.65
35  ORD0036       Edward  Electronics   2/5/2025         4  340.00
41  ORD0042        Diana  Electronics  2/11/2025         9  214.39
46  ORD0047       Hannah  Electronics  2/16/2025         9   54.83
49  ORD0050       Edward  Electronics  2/19/2025         9  203.61
51  ORD0052        Fiona  Electronics  2/21/2025         2   55.77
57  ORD0058        Diana  Electronics  2/27/2025        10  161.56
62  ORD0063        Fiona  Electronics   3/4/2025         8  485.02
69  ORD0070          Bob  Electronics  3/11/2025         1  264.61
70  ORD0071        Diana  Electronics  3/12/2025         7  305.67
73  ORD0074          NaN  Electronics  3/15/2025         1  234.80
74  ORD0075      Charlie  Electronics  3/16/2025         3  235.91
80  ORD0081       Hannah  Electronics        NaN         1  295.33
85  ORD0086          Bob  Electronics        NaN         5   77.85
86  ORD0087        Alice  Electronics  3/28/2025         3   86.55
87  ORD0088      Charlie  Electronics  3/29/2025         5  218.10
90  ORD0091       Edward  Electronics   4/1/2025         9  111.69
92  ORD0093      Charlie  Electronics   4/3/2025         5  118.72
93  ORD0094        Alice  Electronics   4/4/2025         2   60.11

    TotalAmount     Status
3        239.91    Pending
8        444.60   Canceled
10      1195.86   Canceled
20      2870.00    Pending
22      1077.20  Completed
35      1360.00   Canceled
41      1929.51    Pending
46       493.47    Pending
49      1832.49   Canceled
51       111.54   Canceled
57      1615.60   Canceled
62      3880.16    Pending
69       264.61   Canceled
70      2139.69  Completed
73       234.80    Pending
74       707.73  Completed
80       295.33   Canceled
85       389.25    Pending
86       259.65    Pending
87      1090.50   Canceled
90      1005.21    Pending
92       593.60  Completed
93       120.22   Canceled

In [ ]:

clothing = df[(df['Category'] == 'Clothing') & (df['Status'] == 'Completed')]
print(clothing)

pending = df[(df['Quantity'] > 5) | (df['Status'] == 'Pending')]
print(pending)

    OrderID CustomerName  Category  OrderDate  Quantity   Price  TotalAmount  \
17  ORD0018       George  Clothing  1/18/2025        10  267.14      2671.40
18  ORD0019        Alice  Clothing        NaN         3  227.82       683.46
23  ORD0024          Bob  Clothing  1/24/2025         5  293.58      1467.90
26  ORD0027      Charlie  Clothing  1/27/2025         3  432.17      1296.51
54  ORD0055          Bob  Clothing  2/24/2025         9  142.33      1280.97
58  ORD0059        Fiona  Clothing  2/28/2025         7  161.67      1131.69
66  ORD0067        Diana  Clothing   3/8/2025         3  467.02      1401.06
76  ORD0077        Alice  Clothing  3/18/2025         9  163.71      1473.39
77  ORD0078        Alice  Clothing  3/19/2025         2   25.33        50.66
78  ORD0079          NaN  Clothing  3/20/2025         6   80.48       482.88
95  ORD0096        Diana  Clothing   4/6/2025         5  368.23      1841.15

       Status
17  Completed
18  Completed
23  Completed
26  Completed
54  Completed
58  Completed
66  Completed
76  Completed
77  Completed
78  Completed
95  Completed
    OrderID CustomerName     Category  OrderDate  Quantity   Price  \
0   ORD0001       Hannah        Books   1/1/2025         6  331.73
2   ORD0003        Alice     Clothing   1/3/2025         9  176.17
3   ORD0004       Hannah  Electronics   1/4/2025         3   79.97
4   ORD0005       George         Home   1/5/2025         7  406.03
5   ORD0006      Charlie        Books   1/6/2025         9  390.27
..      ...          ...          ...        ...       ...     ...
91  ORD0092        Diana     Clothing   4/2/2025         2  172.55
96  ORD0097          Bob        Books   4/7/2025         8  360.17
97  ORD0098        Diana     Clothing   4/8/2025         9   29.97
98  ORD0099        Alice         Home   4/9/2025         5  465.20
99  ORD0100      Charlie        Books  4/10/2025         9   41.55

    TotalAmount     Status
0       1990.38   Canceled
2       1585.53   Canceled
3        239.91    Pending
4       2842.21   Canceled
5       3512.43  Completed
..          ...        ...
91       345.10    Pending
96      2881.36  Completed
97       269.73   Canceled
98      2326.00    Pending
99       373.95    Pending

[63 rows x 8 columns]

In [ ]:
orders = df[(df['TotalAmount'] >= 200) & (df['TotalAmount'] <= 1000)]
print(orders)

    OrderID CustomerName     Category  OrderDate  Quantity   Price  \
1   ORD0002       Edward        Books   1/2/2025         3  310.03
3   ORD0004       Hannah  Electronics   1/4/2025         3   79.97
8   ORD0009      Charlie  Electronics   1/9/2025         2  222.30
11  ORD0012        Alice         Home  1/12/2025         4  157.95
12  ORD0013        Fiona     Clothing  1/13/2025         9   44.52
13  ORD0014      Charlie         Home  1/14/2025         2  108.11
15  ORD0016       Hannah     Clothing  1/16/2025         1  241.91
18  ORD0019        Alice     Clothing        NaN         3  227.82
19  ORD0020       George     Clothing  1/20/2025         2  462.31
21  ORD0022        Fiona         Home  1/22/2025         9   62.70
31  ORD0032          Bob        Books   2/1/2025         6  149.55
37  ORD0038       Hannah         Home   2/7/2025         6  135.51
40  ORD0041       George     Clothing  2/10/2025         5  123.01
42  ORD0043        Alice     Clothing  2/12/2025         9   92.59
45  ORD0046       George         Home  2/15/2025         2  119.26
46  ORD0047       Hannah  Electronics  2/16/2025         9   54.83
48  ORD0049          Bob     Clothing  2/18/2025         3  147.93
52  ORD0053       Edward         Home  2/22/2025         2  261.63
55  ORD0056        Alice     Clothing  2/25/2025         6  161.37
65  ORD0066          NaN     Clothing   3/7/2025         5  190.90
69  ORD0070          Bob  Electronics  3/11/2025         1  264.61
71  ORD0072        Fiona         Home  3/13/2025         3  204.01
73  ORD0074          NaN  Electronics  3/15/2025         1  234.80
74  ORD0075      Charlie  Electronics  3/16/2025         3  235.91
75  ORD0076       Edward        Books  3/17/2025         1  360.33
78  ORD0079          NaN     Clothing  3/20/2025         6   80.48
80  ORD0081       Hannah  Electronics        NaN         1  295.33
85  ORD0086          Bob  Electronics        NaN         5   77.85
86  ORD0087        Alice  Electronics  3/28/2025         3   86.55
89  ORD0090        Alice        Books  3/31/2025         1  215.99
91  ORD0092        Diana     Clothing   4/2/2025         2  172.55
92  ORD0093      Charlie  Electronics   4/3/2025         5  118.72
94  ORD0095        Alice        Books   4/5/2025         4  143.94
97  ORD0098        Diana     Clothing   4/8/2025         9   29.97
99  ORD0100      Charlie        Books  4/10/2025         9   41.55

    TotalAmount     Status
1        930.09  Completed
3        239.91    Pending
8        444.60   Canceled
11       631.80  Completed
12       400.68    Pending
13       216.22  Completed
15       241.91    Pending
18       683.46  Completed
19       924.62   Canceled
21       564.30    Pending
31       897.30  Completed
37       813.06   Canceled
40       615.05    Pending
42       833.31    Pending
45       238.52  Completed
46       493.47    Pending
48       443.79   Canceled
52       523.26    Pending
55       968.22    Pending
65       954.50    Pending
69       264.61   Canceled
71       612.03  Completed
73       234.80    Pending
74       707.73  Completed
75       360.33   Canceled
78       482.88  Completed
80       295.33   Canceled
85       389.25    Pending
86       259.65    Pending
89       215.99   Canceled
91       345.10    Pending
92       593.60  Completed
94       575.76   Canceled
97       269.73   Canceled
99       373.95    Pending

In [ ]:
df[df['CustomerName'].str.startswith('A', na=False)]

,OrderID,CustomerName,Category,OrderDate,Quantity,Price,TotalAmount,Status
2,ORD0003,Alice,Clothing,1/3/2025,9,176.17,1585.53,Canceled
9,ORD0010,Alice,Home,1/10/2025,3,476.14,1428.42,Pending
11,ORD0012,Alice,Home,1/12/2025,4,157.95,631.80,Completed
18,ORD0019,Alice,Clothing,NaN,3,227.82,683.46,Completed
42,ORD0043,Alice,Clothing,2/12/2025,9,92.59,833.31,Pending
55,ORD0056,Alice,Clothing,2/25/2025,6,161.37,968.22,Pending
64,ORD0065,Alice,Books,3/6/2025,5,469.38,2346.90,Completed
76,ORD0077,Alice,Clothing,3/18/2025,9,163.71,1473.39,Completed
77,ORD0078,Alice,Clothing,3/19/2025,2,25.33,50.66,Completed
79,ORD0080,Alice,Clothing,3/21/2025,6,244.66,1467.96,Pending
81,ORD0082,Alice,Home,3/23/2025,3,346.71,1040.13,Pending
84,ORD0085,Alice,Home,3/26/2025,1,124.89,124.89,Canceled
86,ORD0087,Alice,Electronics,3/28/2025,3,86.55,259.65,Pending
89,ORD0090,Alice,Books,3/31/2025,1,215.99,215.99,Canceled
93,ORD0094,Alice,Electronics,4/4/2025,2,60.11,120.22,Canceled
94,ORD0095,Alice,Books,4/5/2025,4,143.94,575.76,Canceled
98,ORD0099,Alice,Home,4/9/2025,5,465.20,2326.00,Pending

In [ ]:
df[df['Category'].str.contains('Home')]

,OrderID,CustomerName,Category,OrderDate,Quantity,Price,TotalAmount,Status
4,ORD0005,George,Home,1/5/2025,7,406.03,2842.21,Canceled
9,ORD0010,Alice,Home,1/10/2025,3,476.14,1428.42,Pending
11,ORD0012,Alice,Home,1/12/2025,4,157.95,631.80,Completed
13,ORD0014,Charlie,Home,1/14/2025,2,108.11,216.22,Completed
14,ORD0015,Charlie,Home,1/15/2025,10,381.90,3819.00,Canceled
21,ORD0022,Fiona,Home,1/22/2025,9,62.70,564.30,Pending
24,ORD0025,Edward,Home,1/25/2025,10,262.13,2621.30,Canceled
25,ORD0026,Charlie,Home,1/26/2025,4,318.66,1274.64,Pending
30,ORD0031,Diana,Home,1/31/2025,2,61.32,122.64,Completed
32,ORD0033,Hannah,Home,2/2/2025,4,263.42,1053.68,Canceled
37,ORD0038,Hannah,Home,2/7/2025,6,135.51,813.06,Canceled
44,ORD0045,Hannah,Home,2/14/2025,6,418.15,2508.90,Pending
45,ORD0046,George,Home,2/15/2025,2,119.26,238.52,Completed
47,ORD0048,Hannah,Home,NaN,8,23.50,188.00,Pending
50,ORD0051,Edward,Home,2/20/2025,5,276.70,1383.50,Completed
52,ORD0053,Edward,Home,2/22/2025,2,261.63,523.26,Pending
53,ORD0054,Bob,Home,2/23/2025,5,465.84,2329.20,Completed
63,ORD0064,Bob,Home,3/5/2025,5,367.43,1837.15,Completed
68,ORD0069,Edward,Home,3/10/2025,6,201.93,1211.58,Pending
71,ORD0072,Fiona,Home,3/13/2025,3,204.01,612.03,Completed
72,ORD0073,Hannah,Home,3/14/2025,9,203.84,1834.56,Canceled
81,ORD0082,Alice,Home,3/23/2025,3,346.71,1040.13,Pending
84,ORD0085,Alice,Home,3/26/2025,1,124.89,124.89,Canceled
98,ORD0099,Alice,Home,4/9/2025,5,465.20,2326.00,Pending

In [ ]:
df[df["Category"].notnull()]

,OrderID,CustomerName,Category,OrderDate,Quantity,Price,TotalAmount,Status
0,ORD0001,Hannah,Books,1/1/2025,6,331.73,1990.38,Canceled
1,ORD0002,Edward,Books,1/2/2025,3,310.03,930.09,Completed
2,ORD0003,Alice,Clothing,1/3/2025,9,176.17,1585.53,Canceled
3,ORD0004,Hannah,Electronics,1/4/2025,3,79.97,239.91,Pending
4,ORD0005,George,Home,1/5/2025,7,406.03,2842.21,Canceled
...,...,...,...,...,...,...,...,...
95,ORD0096,Diana,Clothing,4/6/2025,5,368.23,1841.15,Completed
96,ORD0097,Bob,Books,4/7/2025,8,360.17,2881.36,Completed
97,ORD0098,Diana,Clothing,4/8/2025,9,29.97,269.73,Canceled
98,ORD0099,Alice,Home,4/9/2025,5,465.20,2326.00,Pending
99,ORD0100,Charlie,Books,4/10/2025,9,41.55,373.95,Pending

In [ ]:
df[df["Category"].isnull()]

Empty DataFrame
Columns: [OrderID, CustomerName, Category, OrderDate, Quantity, Price, TotalAmount, Status]
Index: []

In [ ]:
df[(df["Category"]=="Clothing")&(df["Status"]=="Completed")]

,OrderID,CustomerName,Category,OrderDate,Quantity,Price,TotalAmount,Status
17,ORD0018,George,Clothing,1/18/2025,10,267.14,2671.40,Completed
18,ORD0019,Alice,Clothing,NaN,3,227.82,683.46,Completed
23,ORD0024,Bob,Clothing,1/24/2025,5,293.58,1467.90,Completed
26,ORD0027,Charlie,Clothing,1/27/2025,3,432.17,1296.51,Completed
54,ORD0055,Bob,Clothing,2/24/2025,9,142.33,1280.97,Completed
58,ORD0059,Fiona,Clothing,2/28/2025,7,161.67,1131.69,Completed
66,ORD0067,Diana,Clothing,3/8/2025,3,467.02,1401.06,Completed
76,ORD0077,Alice,Clothing,3/18/2025,9,163.71,1473.39,Completed
77,ORD0078,Alice,Clothing,3/19/2025,2,25.33,50.66,Completed
78,ORD0079,NaN,Clothing,3/20/2025,6,80.48,482.88,Completed
95,ORD0096,Diana,Clothing,4/6/2025,5,368.23,1841.15,Completed

In [ ]:
scolumns = df[['OrderID', 'CustomerName', 'TotalAmount']]
print(scolumns)

    OrderID CustomerName  TotalAmount
0   ORD0001       Hannah      1990.38
1   ORD0002       Edward       930.09
2   ORD0003        Alice      1585.53
3   ORD0004       Hannah       239.91
4   ORD0005       George      2842.21
..      ...          ...          ...
95  ORD0096        Diana      1841.15
96  ORD0097          Bob      2881.36
97  ORD0098        Diana       269.73
98  ORD0099        Alice      2326.00
99  ORD0100      Charlie       373.95

[100 rows x 3 columns]

In [ ]:
mask=df["Price"]>100
df[mask]

,OrderID,CustomerName,Category,OrderDate,Quantity,Price,TotalAmount,Status
0,ORD0001,Hannah,Books,1/1/2025,6,331.73,1990.38,Canceled
1,ORD0002,Edward,Books,1/2/2025,3,310.03,930.09,Completed
2,ORD0003,Alice,Clothing,1/3/2025,9,176.17,1585.53,Canceled
4,ORD0005,George,Home,1/5/2025,7,406.03,2842.21,Canceled
5,ORD0006,Charlie,Books,1/6/2025,9,390.27,3512.43,Completed
...,...,...,...,...,...,...,...,...
92,ORD0093,Charlie,Electronics,4/3/2025,5,118.72,593.60,Completed
94,ORD0095,Alice,Books,4/5/2025,4,143.94,575.76,Canceled
95,ORD0096,Diana,Clothing,4/6/2025,5,368.23,1841.15,Completed
96,ORD0097,Bob,Books,4/7/2025,8,360.17,2881.36,Completed
98,ORD0099,Alice,Home,4/9/2025,5,465.20,2326.00,Pending

In [ ]:
df.loc[df['TotalAmount'] > 500, ['OrderID', 'Status']]

    OrderID     Status
0   ORD0001   Canceled
1   ORD0002  Completed
2   ORD0003   Canceled
4   ORD0005   Canceled
5   ORD0006  Completed
..      ...        ...
92  ORD0093  Completed
94  ORD0095   Canceled
95  ORD0096  Completed
96  ORD0097  Completed
98  ORD0099    Pending

[72 rows x 2 columns]

In [ ]:
df.iloc[:10][['OrderID', 'TotalAmount']]

   OrderID  TotalAmount
0  ORD0001      1990.38
1  ORD0002       930.09
2  ORD0003      1585.53
3  ORD0004       239.91
4  ORD0005      2842.21
5  ORD0006      3512.43
6  ORD0007      1079.33
7  ORD0008      2668.60
8  ORD0009       444.60
9  ORD0010      1428.42

In [ ]:
df.drop(columns=['Status'])

,OrderID,CustomerName,Category,OrderDate,Quantity,Price,TotalAmount
0,ORD0001,Hannah,Books,1/1/2025,6,331.73,1990.38
1,ORD0002,Edward,Books,1/2/2025,3,310.03,930.09
2,ORD0003,Alice,Clothing,1/3/2025,9,176.17,1585.53
3,ORD0004,Hannah,Electronics,1/4/2025,3,79.97,239.91
4,ORD0005,George,Home,1/5/2025,7,406.03,2842.21
...,...,...,...,...,...,...,...
95,ORD0096,Diana,Clothing,4/6/2025,5,368.23,1841.15
96,ORD0097,Bob,Books,4/7/2025,8,360.17,2881.36
97,ORD0098,Diana,Clothing,4/8/2025,9,29.97,269.73
98,ORD0099,Alice,Home,4/9/2025,5,465.20,2326.00
99,ORD0100,Charlie,Books,4/10/2025,9,41.55,373.95

In [ ]:
amount_500=df[df["TotalAmount"]>500]
print(amount_500)

    OrderID CustomerName     Category OrderDate  Quantity   Price  \
0   ORD0001       Hannah        Books  1/1/2025         6  331.73
1   ORD0002       Edward        Books  1/2/2025         3  310.03
2   ORD0003        Alice     Clothing  1/3/2025         9  176.17
4   ORD0005       George         Home  1/5/2025         7  406.03
5   ORD0006      Charlie        Books  1/6/2025         9  390.27
..      ...          ...          ...       ...       ...     ...
92  ORD0093      Charlie  Electronics  4/3/2025         5  118.72
94  ORD0095        Alice        Books  4/5/2025         4  143.94
95  ORD0096        Diana     Clothing  4/6/2025         5  368.23
96  ORD0097          Bob        Books  4/7/2025         8  360.17
98  ORD0099        Alice         Home  4/9/2025         5  465.20

    TotalAmount     Status
0       1990.38   Canceled
1        930.09  Completed
2       1585.53   Canceled
4       2842.21   Canceled
5       3512.43  Completed
..          ...        ...
92       593.60  Completed
94       575.76   Canceled
95      1841.15  Completed
96      2881.36  Completed
98      2326.00    Pending

[72 rows x 8 columns]

In [ ]:
amount_500==('high_value_orders.csv', index=False)

SyntaxError: invalid syntax. Maybe you meant '==' or ':=' instead of '='? (<ipython-input-106-b5b2bfd1ed36>, line 1)

In [ ]:
# prompt: make skewness graph

import pandas as pd
import matplotlib.pyplot as plt

# Assuming your data is in a DataFrame called 'df'
# Replace 'your_column_name' with the actual column name you want to analyze
data = pd.read_csv('/content/sample_data')

# Calculate skewness
skewness = data['TotalAmount'].skew()

# Create the skewness plot
plt.figure(figsize=(8, 6))
plt.hist(data['TotalAmount'], bins=30, edgecolor='black')  # Adjust bins as needed
plt.title(f"Skewness of TotalAmount: {skewness:.2f}")
plt.xlabel('TotalAmount')
plt.ylabel('Frequency')

# Add a vertical line for the mean
plt.axvline(data['TotalAmount'].mean(), color='red', linestyle='dashed', linewidth=1, label='Mean')

plt.legend()
plt.grid(True)
plt.show()

IsADirectoryError: [Errno 21] Is a directory: '/content/sample_data'